.app {
    // display: flex;
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;

    .content {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }
      
    .left {
        width: 35%; /* Adjust based on your design */
        padding: 20px;
        background-color: #f8f8fd;
    }
    
    .right {
        width: 65%; /* Adjust based on your design */
        padding: 20px;
        background-color: #f0f0f0;
    }
    
    .lower {
        padding: 20px;
        background-color: #ddd;
        /* Style for the bottom content */
    }

      section {
        padding: 40px;
        margin: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      /* Carousel Section */
      .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: auto;
      }
      
      .slides {
        display: flex;
        transition: transform 0.3s ease;
      }
      
      .slide {
        min-width: 100%;
        text-align: center;
      }
}

@media screen and (max-width:1200px) and (min-width: 770px) {
    .page {
        width: 90%;
    }
}
  
/* Media Query for smaller screens */
@media screen and (max-width: 770px) {
    .app {
        width: 95%;
        .content {
            flex-direction: column;
        }
        .left, .right {
            width: 100%; /* Stack left and right vertically */
        }
    }
}