.app {
    // display: flex;
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;

    .content {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }
      
    .left {
        width: 35%; /* Adjust based on your design */
        padding: 20px;
        background-color: #f8f8fd;
    }
    
    .right {
        width: 65%; /* Adjust based on your design */
        padding: 20px;
        background-color: #f0f0f0;
    }
    
    .lower {
        padding: 20px;
        background-color: #ddd;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        /* Style for the bottom content */
    }

    .vertical-flex {
        display: flex; /* Enable flexbox */
        flex-direction: column; /* Align items vertically */
        gap: 0px; /* Add space between items */
    }

    .horizontal-flex {
        display: flex; /* Enable flexbox */
        justify-content: flex-start; /* Align items horizontally */
        gap: 0px; /* Add space between items */
    }

    .item {
        margin: 10px;
    }

    .icon {
        width: 64px;
        height: 64px;
        border-radius: 12px;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .subtitle {
        font-weight: normal;
        font-size: 16px;
    }

    .description {
        margin: 10px;
        font-weight: normal;
        font-size: 16px;
    }

    .feature {
        font-weight: bold;
        font-size: 20px;
        margin: 5px 0;
    }

    li {
        margin-bottom: 10px;
    }

    .feature-title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .feature-description {
        margin: 10px;
        font-weight: normal;
        font-size: 16px;
    }
      
     /* Carousel Section */
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
      
    .slides {
        display: flex;
        transition: transform 1s ease-in-out;
    }
      
    .slide {
        min-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:1200px) and (min-width: 770px) {
    .page {
        width: 90%;
    }
}
  
/* Media Query for smaller screens */
@media screen and (max-width: 770px) {
    .app {
        width: 95%;
        .content {
            flex-direction: column;
        }
        .left, .right {
            width: 100%; /* Stack left and right vertically */
        }
    }
}